.animated-wave {
  position: relative;
  background: linear-gradient(
    150deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.9) 30%,
    rgba(0, 0, 0, 0.9) 70%,
    rgba(0, 0, 0, 0.5) 100%
  );
  background-size: 200% 100%; /* wide enough to move across */
  animation: waveMove 10s linear infinite; /* speed and loop */
}
@keyframes waveMove {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}