:root {
  --titlebar-height: clamp(100px, 30vw, 300px);
}
.titlebar {
  width: 100%;
  height: var(--titlebar-height);
  background: #2563eb;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: clamp(0%,15vw,200px);
  background: linear-gradient(-10deg,
  #2563eb 60%,
  #081a57 100%);
}

.titlebar h1 {
  color: #fff;
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(28px, 6vw, 64px);
  line-height: 1.1;
  margin: 0;
  margin-left: clamp(-70px,-7vw,0px);
}

.avatar {
  --size: clamp(96px, 25vw, 250px);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden; /* clip to circle */

  /* fade the right-most portion to transparent */
  -webkit-mask-image: linear-gradient(to right, #000 72%, transparent 100%);
  mask-image: linear-gradient(to right, #000 0%, transparent 95%);
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}